opencv-python
opencv-python-headless
fake-headers
fonttools
gitdb
GitPython
grpcio
h11
h2
h5py
hpack
html5lib
hyperframe
importlib-metadata
Markdown
markdown-it-py
matplotlib
matplotlib-inline
ml-dtypes
numpy
opt-einsum
outcome
packaging
pandas
pickleshare
Pillow
scipy
seaborn
streamlit
streamlit-option-menu
style
sympy


